/*general declaration*/
:root {
  --base-text-color: #212121;
  --light-text-color: #757575;
  --my-blue: #2196f3;
  --dark-back: #2f303a;
  --light-back: #f5f4fa;
  --just-white: #ffffff;
  --just-black: #000000;
  --bg-image-color: rgba(47, 48, 58, 0.4);
  --transition-time: 250ms;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--base-text-color);
  background-color: var(--just-white);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*markup reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul,
ol {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0;
}
a {
  text-decoration: none;
}
address {
  font-style: normal;
  margin-top: 20px;
}
button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
/*auxiliary classes-content restriction*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.section__header {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin: 0px 0px 50px 0px;
  text-align: center;
}
/*navigation styles*/
.container--header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--my-blue);
}
.logo__part2 {
  color: var(--just-black);
  margin-right: 0px;
}
.logo__part2--footer {
  color: var(--just-white);
}
/* .main-nav */
.list {
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.product-tab__list {
  flex-wrap: wrap;
}
.main-nav__list {
  margin-left: 93px;
}
.social-links {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.address-list {
  flex-direction: column;
  align-items: flex-start;
}
.main-nav__li:not(:first-child) {
  margin-left: 46px;
}
.main-nav__list-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--base-text-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__list-item--current-link {
  color: var(--my-blue);
}
.main-nav__list-item:hover,
.main-nav__list-item:focus {
  color: var(--my-blue);
}
.main-nav__list-item--current-link::after {
  display: block;
  width: 53px;
  height: 4px;
  background-color: var(--my-blue);
  position: absolute;
  top: 77px;
  border-radius: 2px;
  content: "";
}
.header-contacts {
  margin-left: auto;
}
.header-contacts__item:nth-child(2) {
  margin-left: 50px;
}
.header-contacts__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  text-decoration: none;
  color: var(--light-text-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts__item:hover,
.header-contacts__item:focus {
  color: var(--my-blue);
}
header {
  border-bottom: solid 1px #ececec;
  padding: 24px 0px 25px 0px;
}
/*main-section*/
.section--main {
  /* background-color: var(--dark-back); */
  background-image: linear-gradient(
      to left,
      var(--bg-image-color),
      var(--bg-image-color)
    ),
    url(../images/background-img.jpg);
  background-size: cover;
  /* or "background-size: 1600px 600px" and skip max-width and margins*/
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
  text-align: center;
}
.main-section__header {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--just-white);
  text-align: center;
  margin: 0 auto;
  width: 696px;
}
.btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  font-family: inherit;
  color: var(--just-white);
  background-color: var(--my-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.main-section__btn {
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 42px;
}
/*advantages section */
.section__header--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* .list-advantage {
  gap: 30px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
} */
.list__advantage-header {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
}
.list__advantage-detail {
  font-size: 14px;
  line-height: 1.71;
  color: var(--light-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
/*profile section */
.section--profile {
  padding-top: 0px;
}
.list__profile-li {
  position: relative;
}
.list__profile-item {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--just-white);
  font-weight: 700;
}
/*team section */
.section--team {
  background-color: var(--light-back);
}
.list__team-li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.list__team-img {
  display: block;
}
.list__team-info {
  text-align: center;
  padding: 30px 0 30px 0;
}
.list__team-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin: 0px 0px 0px 0px;
}
.list__team-position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  margin-bottom: 0px;
  margin-top: 10px;
}
/*product tab section*/
.product-tab {
  flex-direction: column;
  justify-content: center;
}
.product-tab__btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}
.product-tab__btn-item {
  font-size: 16px;
  font-weight: 500;
  color: var(--base-text-color);
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  letter-spacing: 0.03em;
  line-height: 1.63;
  padding: 6px 22px;
  transition: background-color var(--transition-time)
      cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.product-tab__btn-item:hover,
.product-tab__btn-item:focus {
  background-color: var(--my-blue);
  color: var(--just-white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.product-tab__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0px;
  margin-bottom: 4px;
  color: var(--base-text-color);
}
.product-tab__type {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.88;
  color: var(--light-text-color);
  margin-top: 0px;
  margin-bottom: 0px;
}
.product-tab__name-type {
  padding: 20px 24px;
  border-left: solid 1px #eeeeee;
  border-right: solid 1px #eeeeee;
  border-bottom: solid 1px #eeeeee;
}
.product-tab__box-overlay {
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  border: none;
}
.product-tab__link {
  display: block;
  transition: box-shadow var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.product-tab__link:hover,
.product-tab__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-tab__link:hover .product-tab__overlay,
.product-tab__link:focus .product-tab__overlay {
  transform: translateY(0);
}
/*footer section*/
footer {
  background-color: var(--dark-back);
  padding: 60px 0;
  /* display: flex; */
}
.address-list__li:not(:last-child) {
  margin-bottom: 9px;
}
.address-list__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--just-white);
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__item:hover,
.address-list__item:focus {
  color: var(--my-blue);
}
.address-list__item--soft {
  color: rgba(255, 255, 255, 0.6);
}
/* SVG */
.header-contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  vertical-align: middle;
}
/* .header-contact-item {
  fill: currentColor;
} */
.list__advantage-img {
  display: flex;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.social-links-img {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color var(--transition-time)
      cubic-bezier(0.4, 0, 0.2, 1),
    color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.social-links-img--footer {
  color: var(--just-white);
  background-color: rgba(255, 255, 255, 0.1);
}
.social-links-img:hover,
.social-links-img:focus {
  background-color: var(--my-blue);
  color: var(--just-white);
  border-radius: 50%;
}

.list-team__social-links-img:hover,
.list-team__social-links-img:focus {
  background-color: var(--my-blue);
  color: var(--just-white);
}
.list__clients-img {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
    border-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: transparent; */
  /* outline-color: var(--my-blue); */
}
.list__clients-img:hover,
.list__clients-img:focus {
  border-color: var(--my-blue);
  color: #2196f3;
}
.join-us {
  color: var(--just-white);
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
}
.social-links-container {
  margin-left: 70px;
}
.container--footer {
  display: flex;
  align-items: baseline;
}
.product-tab__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  color: var(--just-white);
  transform: translateY(100%);
  transition: transform 250ms ease;
  font-size: 18px;
  line-height: 1.56;
  padding: 49px 45px 49px 24px;
}
/* Modal window */
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  /*  */
  transform: scale(1);
  opacity: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--just-white);
  padding: 40px;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--just-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0px;
}
.icon-close-black-18dp {
  position: absolute;
  left: 5px;
  top: 5px;
}

.newsletter-form__field {
  display: flex;
  flex-direction: column;
}
.is-hidden {
  visibility: 0;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
/* forms */
.newsletter-form {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
.newsletter-form__btn {
  align-self: flex-end;
  position: relative;
  margin-left: 12px;
  text-align: left;
  padding: 0 0 0 42px;
}
.newsletter-form__icon-send {
  position: absolute;
  top: 13px;
  right: 28px;
}
.newsletter-form__label {
  color: var(--just-white);
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
}
.newsletter-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.newsletter-form__input {
  width: 358px;
  height: 50px;
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-back);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
}
.order-form__input:hover,
.order-form__input:focus {
  outline: none;
  border-color: var(--my-blue);
}
.order-form__textarea {
  margin-top: 4px;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order-form__headder {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}
.order-form__div-in {
  margin-bottom: 10px;
}
.order-form__div-comment {
  margin-bottom: 20px;
}
.order-form__label {
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--light-text-color);
}
.order-form__link {
  text-decoration: underline;
  color: var(--my-blue);
}
.order-form__btn {
  left: 700px;
  top: 712px;
  margin: 0 auto;
  margin-top: 30px;
}

/* imput form elements */
.order-form__field {
  position: relative;
  margin-top: 4px;
}
.order-form__input[type="text"],
.order-form__input[type="tel"],
.order-form__input[type="email"] {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
.order-form__field:hover,
.order-form__field:focus-within {
  color: var(--my-blue);
  fill: currentColor;
}
.order-form__input:hover,
.order-form__input:focus,
.order-form__textarea:hover,
.order-form__textarea:focus {
  outline: none;
  border-color: var(--my-blue);
}
/* checkbox */
.checkbox {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 14px;
}
.checkbox__custom {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--light-text-color);
  margin-right: 14px;
}
.checkbox__input[type="checkbox"] {
  background: #fff;
  margin: 0;
  display: none;
}
.checkbox__input[type="checkbox"]:checked + svg {
  opacity: 1;
  z-index: 1;
}
.checkbox__statement-Vector {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 0;
}
.checkbox__icon-check {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 0;
  transition: opacity var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
}
