.list {
  gap: 30px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__advantage-header {
    font-size: 14px;
    line-height: 1.14;
    margin-top: 0px;
    margin-bottom: 10px;
    text-align: center;
    @media screen and (min-width: 768px) {
      text-align: left;
    }
  }
  &__advantage-detail {
    font-size: 14px;
    line-height: 1.71;
    color: var(--light-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 450px;
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }
  &__profile-li {
    position: relative;
  }
  &__profile-item {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--just-white);
    font-weight: 700;
  }
  &__team-li {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__team-img {
    display: block;
  }
  &__team-info {
    text-align: center;
    padding: 30px 0 30px 0;
  }
  &__team-name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0px 0px 0px 0px;
  }
  &__team-position {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--light-text-color);
    margin-bottom: 0px;
    margin-top: 10px;
  }
  &__advantage-img {
    display: flex;
    max-width: 450px;
    // width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 270px;
    }
  }
  &__clients-img {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    color: #afb1b8;
    width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1),
      border-color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--my-blue);
      color: #2196f3;
    }
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }
}
