.logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.174;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--my-blue);

  &__part2 {
    color: var(--just-black);
    margin-right: 0px;
    &--footer {
      color: var(--just-white);
    }
  }
}
.logo-footer {
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
