.main-section {
  &__header {
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: var(--just-white);
    text-align: center;
    margin: 0 auto;
    max-width: 365px;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
      font-weight: 900;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  &__btn {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 42px;
  }
}
