.main-section {
  &__header {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--just-white);
    text-align: center;
    margin: 0 auto;
    width: 696px;
  }
  &__btn {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 42px;
  }
}
