.mob-link {
  &:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 10px;
  }
  padding-right: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  text-decoration: none;
  color: var(--light-text-color);
  letter-spacing: 0.02em;
  transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
  //   margin-bottom: 32px;
  //   margin-left: 0px;
  &:hover,
  &:focus {
    color: var(--my-blue);
  }
}
