.mob-header-contacts {
  display: flex;
  flex-direction: column;
  // margin-left: auto;
  &__phone {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    text-decoration: none;
    color: var(--light-text-color);
    letter-spacing: 0.02em;
    transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 32px;
    margin-left: 0px;
    &:hover,
    &:focus {
      color: var(--my-blue);
    }
  }
  &__mail {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    text-decoration: none;
    color: var(--light-text-color);
    letter-spacing: 0.02em;
    transition: color var(--transition-time) cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 64px;
    margin-left: 0px;
    &:hover,
    &:focus {
      color: var(--my-blue);
    }
  }
}
