.section {
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  padding-top: 60px;
  padding-bottom: 60px;

  &--main {
    background-image: linear-gradient(
        to bottom,
        var(--bg-image-color),
        var(--bg-image-color)
      ),
      url(../images/background-img-mobile.jpg);
    background-size: cover;
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px 0;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    &--main {
      background-image: linear-gradient(
          to bottom,
          var(--bg-image-color),
          var(--bg-image-color)
        ),
        url(../images/background-img-tablet.jpg);
      background-size: cover;
      max-width: 768px;
      height: 400px;
    }
  }
  @media screen and (min-width: 1200px) {
    &--main {
      background-image: linear-gradient(
          to bottom,
          var(--bg-image-color),
          var(--bg-image-color)
        ),
        url(../images/background-img-desktop.jpg);
      background-size: cover;
      max-width: 1600px;
      height: 600px;
    }
  }
  &--profile {
    padding-top: 0px;
    @media screen and (max-width: 1199px) {
      display: none;
    }
  }
  &--team {
    background-color: var(--light-back);
  }
  &__header {
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin: 0px 0px 50px 0px;
    text-align: center;
    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }
  &__header {
    &--hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}
