.social-links {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
/*footer social links area*/
.social-links-container {
  text-align: center;
  margin: 60px auto;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
  }
}
.join-us {
  color: var(--just-white);
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
}
