.social-links {
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
/*footer social links area*/
.social-links-container {
  margin-left: 70px;
}
.join-us {
  color: var(--just-white);
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.17;
}
